@font-face {
    font-family: 'pop';
    src: url('../fonts/Agbalumo/Agbalumo-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pop';
}

html {
    background-color: #323232;
    color: #fff;
    margin: 0 3rem;
}

h1 {
    text-align: center;
    padding: .8rem;
}

img {
    max-width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

figure {
    text-align: center;
}

figcaption {
    padding: .5rem;
}

button {
    padding: .4rem .7rem;
    border-radius: .6rem;
    outline: none;
    border: none;
    background-color: pink;
}